.weekends {
    color: #d32f2f !important;
    border: none !important;
    font-weight: bold;
}

.dropdown-menu {
    border: none;
}

.right-align {
    text-align: right;
}

.td-disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.today-date {
    color: #555555 !important;
    font-weight: bold;
    background-color: #B2EBF2 !important;
}

.date-disabled {
    color: #bbbbbb !important;
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.font-size-2 {
    font-size: 1.3rem;
}

.center-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    position: absolute;
}

.img-btn {
    padding: .5rem;
    filter: invert(43%) sepia(30%) saturate(4178%) hue-rotate(191deg) brightness(84%) contrast(95%);
}

.rotate {
    transform: rotate(180deg);
}

.calendar-header {
    margin-top: .15rem;
}

.fare-calendar-container {
    -webkit-box-shadow: 0 0px 18px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0px 18px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0px 18px -13px rgba(0, 0, 0, 0.75);
    padding: .05rem .25rem .25rem;
}

.day {
    font-weight: bold !important;
    border: none !important;
}

.fare-calendar-container td {
    height: 3rem;
    width: 2.7rem;
    font-size: .9rem;
    text-align: center;
    color: black;
    background-color: white;
    border-top: 1px solid #dddddd;
    /*border: 1px solid black;*/
}

.date-allowed:hover {
    color: white !important;
    background-color: #1E88E5 !important;
    font-weight: bold !important;
}

/* ----------- Non Retina and upto Full HD Screens ----------- */
@media screen
and (min-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {

    .fare-calendar-container {
        padding: .1rem .5rem .5rem;
    }

    .fare-calendar-container td {
        height: 4rem;
        width: 3.5rem;
        font-size: 1.1rem;
        text-align: center;
        /*border: 1px solid black;*/
    }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

    .fare-calendar-container {

    }

    .fare-calendar-container td {

    }
}